html {
  background-color: #eae2f9;
  background-image: url("../images/bg3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%); */
h1 {
  color: #fff;
  padding: 10px 0 0 0;
}
h3{
  color: black;
  padding: 0 0 10px 0;
}

.headingbox{
  max-width: 50%;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.outerbox{
  max-width: 50%;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.373);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.box{
  padding: 3% 5% 3% 5%;
}

/* b28cf4 */
#heading {
  background-color: #a076e9;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: flex-start;
  margin-top: 2%;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

/* input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #915af1;
  color: #915af1;
} */

input[type="checkbox"] {
  margin: 3% 3% 0 6%;
}

p {
  font-size: 18px;
  font-weight: 200;
  color: #00204a;
}

.task p.motivation {
  margin: 0;
  font-size: 15px;
  font-family: cursive;
  color: gray;
}

.box hr {
  border: none; 
  border-top: 1px solid #ccc; 
  margin: 5px 0; 
}

form.item {
  text-align: center;
  margin-left: 20 px;
}

button {
  min-height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 10%;
  /* border-color: transparent; */
  background-color: #dccff3;
  /* color: #fff; */
  font-size: 30px;
  border-width: 0;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 40%;
  margin-right: 4%;
  box-shadow: inset 0 -3px 0 0 #dbc4f9;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #905beb;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
